.common-layout {
  width: 11.8rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;

  .common-layout-side {
    display: block;
    flex: 0 0 2rem;
    max-width: 2rem;
    min-width: 2rem;
    width: 2rem;
    min-height: 100vh;
    border-right: 1px solid #dedede;
  }

  .common-layout-container {
    flex: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 0.3rem;
    width: 9.8rem;
    .common-layout-header {
      height: 1rem;
      border-bottom: 1px solid #dedede;
    }
    .common-layout-content {
      padding-top: 0.31rem;
    }
  }
}

@media (max-width: 1200px) {
  .common-layout {
    width: 100%;
    .common-layout-side {
      flex: 0 0 1.8rem;
      max-width: 1.8rem;
      min-width: 1.8rem;
      width: 1.8rem;
    }

    .common-layout-container {
      width: 8.3rem;
    }
  }
}

@media (max-width: 769px) {
  .common-layout {
    width: 100%;
    flex-direction: column;
    .common-layout-side {
      display: none;
    }
    .common-layout-container {
      padding: 0 0.15rem;
      width: 100%;
      .common-layout-header {
        height: 0.7rem;
        margin-bottom: 0.2rem;
      }
      .common-layout-content {
        padding-top: 0;
      }
    }
  }
}
