.subNav-container {
  margin-top: 0.64rem;
  font-size: 0.2rem;
  .subNav-item {
    a {
      display: block;
      height: 0.44rem;
      line-height: 0.44rem;
      color: #333;
      text-align: center;
      text-decoration: none;
    }
    a:hover {
      color: #1d76a4;
    }
    a:focus {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }

    .subNav-item-active {
      background-color: #1d76a4;
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
}
