.home-content {
  background: #fff !important;
}

.section-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  &.justify-content {
    justify-content: space-between;
  }
  .Section-item-col {
    width: 5.4rem;
  }
}
.middle-container {
  width: 11.8rem;
  margin-top: 0.5rem;
}

.add-more {
  color: #333;
  font-size: 0.24rem;
  padding-bottom: 0.1rem;
  margin-bottom: 0.39rem;
  border-color: #dedede;
  .moreBtn {
    float: right;
    color: #666;
    font-size: 0.18rem;
    margin-top: 0.045rem;
    cursor: pointer;
    &:hover {
      color: #1d76a4;
    }
  }
}

@media (max-width: 1200px) {
  .middle-container {
    width: 11.1rem;
  }
}
@media (max-width: 769px) {
  .section-container {
    flex-direction: column;
    .Section-item-col {
      width: 100%;
      margin-top: 0.3rem;
    }
  }

  .middle-container {
    width: 100%;
    padding: 0 0.15rem;
    margin-top: 0;
  }

  .add-more {
    font-size: 0.18rem;
    padding-bottom: 0.08rem;
    margin-bottom: 0.3rem;
    .moreBtn {
      color: #666;
      font-size: 0.14rem;
      margin-top: 0.04rem;
    }
  }
}
